.views-field-field-apr-teamlead-1 .form-select,.views-field-field-apr-teamlead .form-select, .views-field-field-apr-teamlead-1 .form-item__label, .views-field-field-apr-teamlead .form-item__label{
display: none !important;
}
.field--name-field-date-range, .field--name-field-data-range-not-paid{
display:none;
}
.form-item-field-data-range-not-paid-0-duration{
display: none;
}
#node-certificate-form .field--name-field-date-range{
display: block !important;
}
.my-confirm-background {
position: fixed;
width: 100%;
height: 100vh;
z-index:5000;
background: rgba(255,255,255,0.8);
top: 0;
}
.my-confirm { background-color: #fff; 
border: 1px solid #ccc; 
box-shadow: 0px 0px 5px #ccc; 
padding: 20px; 
width: 300px;
margin: 0 auto;
margin-top: 45vh;
} 
.my-confirm-buttons { 
text-align: center;
margin-top: 10px;
 } 
.my-confirm-ok, .my-confirm-cancel { border: none; cursor: pointer; padding: 5px 10px; } 
.my-confirm-ok { background-color: #0d77b5; color: #fff; } 
.my-confirm-cancel { background-color: #ccc; color: #000; margin-left: 10px; }
